---
title: Steven Harford
---

<header class="banner" role="banner">
    <div class="wrapper">
        <div class="content">
            <h1 class="banner-heading"><%= link_to 'Steven Harford', 'http://www.stevenharford.com/' %></h1>

            <p class="banner-tagline">Family Guy &ndash; Computer Geek</p>
        </div>
    </div>
</header>

<main role="main">
    <section class="profile">
        <div class="wrapper">
            <div class="content">
                <h1 class="profile-heading">Profile</h1>

                <p class="profile-description"><%= lorem.paragraph %></p>
            </div>
        </div>
    </section>

    <section class="timeline">
        <div class="wrapper">
            <div class="content">
                <h1 class="timeline-heading">Timeline</h1>

                <ol class="timeline-events">
                    <% 1.upto(12) do |i| %>
                        <li class="timeline-event">
                            <figure>
                                <%= image_tag "http://loremflickr.com/300/200/paris?random=#{i}", :alt => "" %>
                                <figcaption>
                                    <h2><%= lorem.date "%Y" %></h2>
                                    <p><%= lorem.sentence %></p>
                                </figcaption>
                            </figure>
                        </li>
                    <% end %>
                </ol>
            </div>
        </div>
    </section>

    <section class="contact">
        <div class="wrapper">
            <div class="content">
                <h1 class="contact-heading">Contact</h1>

                <ul class="contact-list">
                    <li class="contact-list-item">
                        <% link_to 'https://github.com/stevenharford' do %>
                            <span class="contact-list-item-icon fa fa-github"></span>
                            <span class="contact-list-item-name">GitHub</span>
                        <% end %>
                    </li>
                    <li class="contact-list-item">
                        <% link_to 'mailto:steven@stevenharford.com' do %>
                            <span class="contact-list-item-icon fa fa-envelope"></span>
                            <span class="contact-list-item-name">Email</span>
                        <% end %>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>

<footer class="copyright" role="contentinfo">
    <div class="wrapper">
        <div class="content">
            &copy; 2011&ndash;<%= Date.today.year %> Steven Harford
        </div>
    </div>
</footer>
