---
title: Steven Harford
---

<header role="banner">
    <div class="wrapper">
        <h1><%= link_to 'Steven Harford', 'http://www.stevenharford.com/' %></h1>
    </div>
</header>

<main role="main">
    <section>
        <div class="wrapper profile">
            <h1>Profile</h1>

            <% 3.times do %>
                <p><%= lorem.paragraph %></p>
            <% end %>
        </div>
    </section>

    <section>
        <div class="wrapper random-facts">
            <h1>Random facts</h1>

            <ul>
                <% 10.times do %>
                    <li><%= lorem.sentence %></li>
                <% end %>
            </ul>
        </div>
    </section>

    <section>
        <div class="wrapper timeline">
            <h1 class="timeline-heading">Timeline</h1>

            <ol class="timeline-events">
                <% 1.upto(40) do |age| %>
                    <li class="timeline-event">
                        <figure>
                            <%= image_tag lorem.image('300x200', :random_color => true), :alt => "Photograph of Steven Harford aged #{age}" %>
                            <figcaption><%= age %></figcaption>
                        </figure>
                    </li>
                <% end %>
            </ol>
        </div>
    </section>

    <section>
        <div class="wrapper contact">
            <h1>Contact</h1>

            <%= link_to 'Mail', 'mailto:steven@stevenharford.com' %>
            <%= link_to 'GitHub', 'https://github.com/stevenharford' %>
        </div>
    </section>
</main>

<footer role="contentinfo">
    <div class="wrapper">
        &copy; 2011&ndash;<%= Date.today.year %> Steven Harford
    </div>
</footer>
