---
title: Steven Harford

timeline_events:
    - photo: baby-steven.jpeg
      heading: Baby
      description:
          That's me there, growing up in
          <a href="https://en.wikipedia.org/wiki/Skerries,_Dublin">Skerries</a>.

    - photo: first-holy-communion.jpeg
      heading: Atheism
      description:
          My First Holy Communion. I made £86. I'm an atheist now. I'm keeping
          the money.

    - photo: school-friends.jpeg
      heading: School
      description:
          Celebrating my last day of school with friends. I spent the next
          decade unlearning the bad habits I acquired there. Lovely!

    - photo: bsc-graduation.jpeg
      heading: College
      description:
          I have a BSc in Computer Applications and a
          <a href="http://doras.dcu.ie/17420/">PhD in Neural Networks</a> from
          <a href="http://www.dcu.ie/">Dublin City University</a>. Not that I'm
          bragging.

    - photo: old-trafford.jpeg
      heading: Manchester United
      description:
          Supporting Manchester United at Old Trafford. Yes, I'm still a United
          fan.

    - photo: humanist-wedding.jpeg
      heading: Fiona
      description:
          Getting married to the stupendous Fiona. Like, the best wife ever.

    - photo: rubicon-name-plate.jpeg
      heading: Rubicon
      description:
          Fiona and I founded <a href="https://www.rubiconic.ie/">Rubicon</a> in
          2005. I'm Rubicon's resident computer geek. Fiona does the important
          stuff.

    - photo: finishing-the-connemarathon.jpeg
      heading: Running
      description:
          I like running. I even ran the
          <a href="http://www.connemarathon.com/">Connemarathon</a>. Check out
          that guy over my right shoulder, that's my Dad.

    - photo: family-portrait.jpeg
      heading: Kids
      description:
          I have two beautiful children, Ava and Lucas.

    - photo: vegetarian-cooking.jpeg
      heading: Vegetarianism
      description:
          Cooking a veggie meal with Ava. I've been a vegetarian since 2000. My
          wife and kids are also veggies.

    - photo: sling-shot.jpeg
      heading: Slings
      description:
          I wear my kids in slings. I've also been known to wear a truly awesome
          beard.

    - photo: kids-at-the-piano.jpeg
      heading: Music
      description:
          I used to play the guitar and the piano. Hopefully these guys have
          more success than their Dad.
---

<header class="banner" role="banner">
    <div class="wrapper">
        <div class="content">
            <h1 class="banner-heading"><%= link_to 'Steven Harford', 'http://www.stevenharford.com/' %></h1>

            <p class="banner-tagline">Family Guy &ndash; Computer Geek</p>
        </div>
    </div>
</header>

<main role="main">
    <section class="profile">
        <div class="wrapper">
            <div class="content">
                <h1 class="profile-heading">Profile</h1>

                <p class="profile-description">
                    Hi there! I'm Steven, a super proud family guy and total
                    computer geek. Mostly, I split my time between playing with
                    my kids and playing on my computer (ahem, working). I hope,
                    as this site grows, you'll come back to see what I've been
                    getting up to. In the meantime, why not explore the photos
                    below to discover what I'm about.
                </p>
            </div>
        </div>
    </section>

    <section class="timeline">
        <div class="wrapper">
            <div class="content">
                <h1 class="timeline-heading">Timeline</h1>

                <ol class="timeline-events">
                    <% current_page.data.timeline_events.each do |timeline_event| %>
                        <li class="timeline-event">
                            <figure>
                                <%= image_tag timeline_event.photo, :class => "timeline-event-photo", :alt => "" %>

                                <figcaption>
                                    <h2 class="timeline-event-heading"><%= timeline_event.heading %></h2>
                                    <p class="timeline-event-description"><%= timeline_event.description %></p>
                                </figcaption>
                            </figure>
                        </li>
                    <% end %>
                </ol>
            </div>
        </div>
    </section>

    <section class="contact">
        <div class="wrapper">
            <div class="content">
                <h1 class="contact-heading">Contact</h1>

                <ul class="contact-list">
                    <li class="contact-list-item">
                        <% link_to 'https://github.com/stevenharford' do %>
                            <span class="contact-list-item-icon fa fa-github"></span>
                            <span class="contact-list-item-name">GitHub</span>
                        <% end %>
                    </li>
                    <li class="contact-list-item">
                        <% link_to 'mailto:steven@stevenharford.com' do %>
                            <span class="contact-list-item-icon fa fa-envelope"></span>
                            <span class="contact-list-item-name">Email</span>
                        <% end %>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>

<footer class="copyright" role="contentinfo">
    <div class="wrapper">
        <div class="content">
            &copy; 2011&ndash;<%= Date.today.year %> Steven Harford
        </div>
    </div>
</footer>
