---
title: Steven Harford
---

<header role="banner">
    <%= link_to 'Steven Harford', 'http://www.stevenharford.com/' %>
</header>

<main role="main">
    <section>
        <h1>Profile</h1>

        <% 3.times do %>
            <p><%= lorem.paragraph %></p>
        <% end %>
    </section>

    <section>
        <h1>Random facts</h1>

        <ul>
            <% 10.times do %>
                <li><%= lorem.sentence %></li>
            <% end %>
        </ul>
    </section>

    <section>
        <h1>Timeline</h1>

        <ol>
            <% 1.upto(40) do |age| %>
                <li>
                    <figure>
                        <%= image_tag lorem.image('300x300', :random_color => true), :alt => "Photograph of Steven Harford aged #{age}" %>
                        <figcaption><%= age %></figcaption>
                    </figure>
                </li>
            <% end %>
        </ol>
    </section>

    <section>
        <h1>Contact</h1>

        <%= link_to 'Mail', 'mailto:steven@stevenharford.com' %>
        <%= link_to 'GitHub', 'https://github.com/stevenharford' %>
    </section>
</main>

<footer role="contentinfo">
    &copy; 2011&ndash;<%= Date.today.year %> Steven Harford
</footer>
